//* {
//  all: unset; //Unsets everything so you can style everything from scratch
//}


.volume_unmuted {

}

.volume_muted {

}

.mem {
  background-color: #000000;
  color: #D2316E;
  padding: 5px;
}

.bar {
  all: unset;
  border-radius: 10px;
  color: #265574;
  background-color: #161718;
  padding: 20px;

}



